In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('file1.txt', sep=',', header=0, error_bad_lines=False) #error_bad_lines=False
df.head()

C:\Users\Lenovo ThinkPad T460\AppData\Local\Temp\ipykernel_11988\924044474.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('file1.txt', sep=',', header=0, error_bad_lines=False) #error_bad_lines=False

,1,44979,3903240167,224004556,3257,RAJPUROHIT YOGESH,M,,OPEN,3101:RAP AC MUMBAI(Ret.)
0,2,45267,3117100061,224018207,3276,KARTIK SUDHIR PAWAR,M,EWS,PWD Against PH,3101:RAP AC MUMBAI(Canc./NJ.)
1,3,45332,3109420181,224010575,3279,KAPSE SHRAVANI MANISH,F,OBC,OPEN (W) (EMD),3101:RAP AC MUMBAI(Ret.)
2,4,46315,3104100046,224021446,3349,MULEY NISHIGANDHA SHARAD,F,EWS,OPEN (W),3108:RSM TILAK AC PUNE(Ret.)
3,5,46685,3126040282,224006674,3380,ZODE SANSKRITI SHRIRAM,F,OBC,OPEN (W) (EMD),3108:RSM TILAK AC PUNE(Ret.)
4,6,46773,3111190718,224005542,3384,ABIBA SAURI MOHAMMAD,F,OBC,OPEN (W),3232:GAC NAGPUR(Ret.)

In [8]:
df = df.fillna('')
df

,1,44979,3903240167,224004556,3257,RAJPUROHIT YOGESH,M,,OPEN,3101:RAP AC MUMBAI(Ret.)
0,2,45267,3117100061,224018207,3276,KARTIK SUDHIR PAWAR,M,EWS,PWD Against PH,3101:RAP AC MUMBAI(Canc./NJ.)
1,3,45332,3109420181,224010575,3279,KAPSE SHRAVANI MANISH,F,OBC,OPEN (W) (EMD),3101:RAP AC MUMBAI(Ret.)
2,4,46315,3104100046,224021446,3349,MULEY NISHIGANDHA SHARAD,F,EWS,OPEN (W),3108:RSM TILAK AC PUNE(Ret.)
3,5,46685,3126040282,224006674,3380,ZODE SANSKRITI SHRIRAM,F,OBC,OPEN (W) (EMD),3108:RSM TILAK AC PUNE(Ret.)
4,6,46773,3111190718,224005542,3384,ABIBA SAURI MOHAMMAD,F,OBC,OPEN (W),3232:GAC NAGPUR(Ret.)
...,...,...,...,...,...,...,...,...,...,...
64,66,66358,3117070184,224036186,5043,BANDA MAYURI NAGNATH,F,OBC,OPEN (W),3101:RAP AC MUMBAI(No Pref)
65,67,66716,3118190014,224021716,5061,SHARMA ABHISHEK SHRIRAM,M,,OPEN,3101:RAP AC MUMBAI(Ret.)
66,68,67216,3102160145,224003242,5101,GAYGOLE ROHIT RAM,M,OBC,OBC,3101:RAP AC MUMBAI(Ret.)
67,69,67376,3129030226,224026114,5115,CHOUDHARY MUKESHKUMAR,M,,OPEN,3101:RAP AC MUMBAI(Ret.)
68,70,67668,3110020839,224000921,5138,CHOUDHARY VARSHA,F,,OPEN,3108:RSM TILAK AC PUNE(Ret.)

In [4]:
df.to_csv('output_05_03_2023.csv')